<div *ngIf="facility">
  <table>
    <th>{{facility.name | uppercase}} Details</th>
    <tr></tr>
    <td *ngFor="let monday of facility.oeffnungszeiten.montag">
      {{monday}}
    </td>
    <tr></tr>
    <td *ngFor="let tuesday of facility.oeffnungszeiten.montag">
      {{tuesday}}
    </td>
    <tr></tr>
    <td *ngFor="let wednesday  of facility.oeffnungszeiten.montag">
      {{wednesday }}
    </td>
    <tr></tr>
    <td *ngFor="let thursday  of facility.oeffnungszeiten.montag">
      {{thursday }}
    </td>
    <tr></tr>
    <td *ngFor="let friday of facility.oeffnungszeiten.montag">
      {{friday}}
    </td>
    <tr>Ansprechpartner: {{facility.ansprechpartner}}</tr>
    <tr>Telefonnummer: {{facility.telefonnummer}}</tr>
    <tr><img src="/assets/images/{{facility.imageName}}.png" alt="test"/></tr>

  </table>
  <button type="button" (click)="goBack()">go back</button>
  <table>
    <th> Änderungen vornehmen:</th>
    <tr></tr>
    <td>
      <label for="update-name">Namen korrigieren: </label>
      <tr></tr>
      <input id="update-name" #name>
      <button type="button" (click)= "saveName(name.value)">save</button>
    </td>
    <tr></tr>
    <td>
      <label for="update-oeffnungszeiten">Öffnungszeiten korrigieren: </label>
      <tr></tr>
      <input id="update-oeffnungszeiten" #oeffnungszeiten/>
      <button type="button" (click)="saveOeffnungszeiten(oeffnungszeiten.value)">save</button>
    </td>
    <tr></tr>
    <td>
      <label for="update-ansprechpartner">Ansprechpartner korrigieren: </label>
      <tr></tr>
      <input id="update-ansprechpartner" #ansprechpartner/>
      <button type="button" (click)="saveAnsprechpartner(ansprechpartner.value)">save</button>
    </td>
    <tr></tr>
    <td>
      <label for="update-telefonnummer">Telefonnummer korrigieren: </label>
      <tr></tr>
      <input id="update-telefonnummer" #telefonnummer/>
      <button type="button" (click)="saveTelefonnummer(telefonnummer.value)">save</button>
    </td>
  </table>
</div>
