<table>
  <div *ngIf="facility">
    <th>{{facility.name | uppercase}} Details</th>
    <tr></tr>
    <td *ngFor="let monday of facility.oeffnungszeiten.montag">
     {{monday}}
    </td>
    <tr></tr>
    <td *ngFor="let tuesday of facility.oeffnungszeiten.montag">
      {{tuesday}}
    </td>
    <tr></tr>
    <td *ngFor="let wednesday  of facility.oeffnungszeiten.montag">
      {{wednesday }}
    </td>
    <tr></tr>
    <td *ngFor="let thursday  of facility.oeffnungszeiten.montag">
     {{thursday }}
    </td>
    <tr></tr>
    <td *ngFor="let friday of facility.oeffnungszeiten.montag">
      {{friday}}
    </td>
    <tr>Ansprechpartner: {{facility.ansprechpartner}}</tr>
    <tr>Telefonnummer: {{facility.telefonnummer}}</tr>
    <tr><img src="/assets/images/{{facility.imageName}}.png" alt="test"/></tr>
  </div>
</table>
<button type="button" (click)="goBack()">go back</button>
<div>
  <label for="update-name">Name korrigieren: </label>
  <input id="update-name" #name/>
</div>
<div>
  <label for="update-age">Alter korrigieren: </label>
  <input id="update-age" #age/>
</div>
<div>
  <label for="update-secretIdentity">Secret Identity korrigieren: </label>
  <input id="update-secretIdentity" #secretIdentity/>
</div>
<div>
  <button type="button" (click)="save(name.value, age.valueAsNumber, secretIdentity.value)">save</button>
</div>
