<h2>Einrichtungsübersicht</h2>
<app-facility-search></app-facility-search>
<ul class="facilities">
  <th>
    <button (click)="toggleOrder()">
      Sortierung
      <mat-icon *ngIf="order=='asc'">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="order=='desc'">keyboard_arrow_up</mat-icon>
    </button>
  </th>
  <tr *ngFor="let facility of facilities | orderBy: 'name': order">
    <td>
      <button type="button" class="delete" title="Einrichtung entfernen"
              (click)="delete(facility)">x
      </button>
    </td>
    <td>
      <a routerLink="/detail/{{facility.name}}">
        {{facility.name}}
      </a>
    </td>
  </tr>
</ul>

<label for="add-facility">Einrichtung hinzufügen: </label>
<div></div>
<input id="add-facility" #facility/>
<button type="button" class="add" title="Einrichtung hinzufügen" (click)="add(facility.value); facility.value=''">
  speichern
</button>
