h2 {
  text-align: center;
}
@media(min-width: 600px){
  .sport{
    width: 500px;
    height: 250px;
    position: absolute;
    margin-left: 42%;
    margin-top: 22%;
  }
}
@media(max-width: 599px){
  .sport{
    width: 250px;
    height: 125px;
  }
}
@media(min-width: 600px){
  .RZ{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-right: 10%;
    margin-top: 20%;
  }
}
@media(max-width: 599px){
  .RZ{
    width: 200px;
    height: 150px;
  }
}

@media(min-width: 600px) {
  .logo {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 1cm;
    right: 0.5cm;
  }
}
@media (max-width:599px) {
  .logo{
    width: 200px;
    height: 50px;
  }
}

.facilities-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}
